/* CSS Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* end CSS Reset */

html{
	height: 100%;
}

body{
	width: 1400px;
	margin: 0 auto;
	height: 100%;
	background: #bbb;
	/*background-image: url('./img/wild_oliva.png');*/
	background-image: url('./img/bedge_grunge.png');
	font-family: Georgia, Times, serif;
	position: relative;
}




.blade{
	float: left;
	width: 8.5%;
	height: 100%;
	cursor: pointer;
	position: relative;
	-moz-box-shadow:    0px 0px 20px -5px #333;
	-webkit-box-shadow: 0px 0px 20px -5px #333;
	box-shadow:         0px 0px 20px -5px #333;
	overflow: auto;
	position: relative;
}



.blade-icon{
	max-width: 118px;
	float: left;
}

.blade h1{
	display: none;
	font-size: 3.1em;
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	font-family: 'Comfortaa', sans-serif;
}

.blade .content{
	display: none;
}

#blade1{
	color: white;
	background: #4B585C;
	width: 40.5%;
	z-index: 8;
}

#blade2{
	background: #F7CA92;
	z-index: 7;
}

#blade3{
	background: #E3E3CB;
	z-index: 6;
}

#blade4{
	background: #FAA684;
	z-index: 5;
}

#blade5{
	background: #FFE8CD;
	z-index: 4;
}

#blade6{
	background: #89A194;
	z-index: 3;
}

#blade7{
	background: #CFC89A;
	z-index: 2;
}

#blade8{
	background: #fff8ee;
	z-index: 1;
}

.current-blade{
	cursor: default;
}

.blade .content{
	float: left;
	width: 510px;
	margin: 1em 5% 5em 5%;
}

.blade h2{
	font-size: 1.3em;
	margin-bottom: 0.4em;
}

.blade p{
	line-height: 1.3;
	margin-bottom: 1.6em;
}

.label{
	font-weight: bold;
	display: inline-block;
	margin-top: 6px;
}

.polaroid{
	border: 15px #fff solid;
	overflow: hidden;
	width: 91%;
	margin-bottom: 1.6em;
}

.content img{
	width: 100%;
	margin: 0;
	float: left;
}

p.caption{
	background: #fff;
	color: #555;
	padding: 1em 0 1.5em 0;
	float: left;
	width: 100%;
	margin-bottom: 0;
	font-style: italic;
}

.polaroid h2{
	background: #fff;
	margin-bottom: 0;
	padding-bottom: 0.8em;
}

audio{
	background: #fff;
	float: left;
	width: 100%;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10000;
	color: #ddd;
	background: #333;
}

footer p{
	margin: 10px;
	float: right;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:visited{
	color: #fff;
}

footer .twitter-share-button{
	margin-top: 8px;
	margin-left: 10px;
	display: block;
	float: left;
}

footer .fb-like{
	display: block;
	float: left;
	margin-top: 8px;
}

footer a:hover{
	text-decoration: underline;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


@media all and (max-width: 1400px) {
	body{
		width: 100%;
	}
	
	.blade .blade-icon{
		width: 92%;
		margin-left: 4%;
		max-width:100px;
	}
	
	.blade.current-blade .blade-icon{
		margin-left: 3%;
	}
	
	.blade h1{
		font-size: 2.7em;
	}
	
	.blade .content{
		width: 92%;
	}
	
	
}

@media all and (max-width: 1150px){
	.blade .blade-icon{
		max-width:90px;
	}
}

@media all and (max-width: 1100px){
	.blade .blade-icon{
		max-width:85px;
	}
	
	.blade h1{
		font-size: 2.4em;
		margin-top: 25px;
	}
}

@media all and (max-width: 1050px){
	.blade .blade-icon{
		max-width:75px;
	}
}

@media all and (max-width: 1000px){
	html{
		height: auto;
		padding-bottom: 4em;
	}
	
	.blade{
		width: 100%;
		height: 120px;	
	}
	
	#blade1{
		width: 100%;
	}
	
	.opened{
		cursor: default;
		min-height: 300px;
		height: auto;
	}
	
	.blade .blade-icon{
		max-width:100px;
		margin: 10px 0 0 5%;
	}
	
	.blade.current-blade .blade-icon{
		margin: 10px 0 0 5%;
	}
	
	.blade h1{
		font-size: 3em;
		margin-top: 35px;
		margin-right: 5%;
		float: right;
		display: block;
	}
	
	.blade .content{
		font-size: 1.3em;
	}
	
	footer{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 10000;
		color: #ddd;
		background: #333;
		font-size: 1.4em;
	}
	
	footer .twitter-share-button{
		margin-top: 11px;
	}
	
	footer .fb-like{
		max-width: 100px;
		margin-top: 11px;
	}
	
	.transparent {
		zoom: 1;
		filter: alpha(opacity=95);
		opacity: 0.95;
	}
}

@media all and (max-width: 700px){
	footer{
		font-size: 1em;
	}
	
	footer .twitter-share-button{
		margin-top: 8px;
	}
	
	footer .fb-like{
		margin-top: 8px;
	}
}

@media all and (max-width: 600px){
	footer{
		text-align: center;
		font-size: 0.7em;
	}
	footer p{
		width: 100%;
		float: left;
	}
	
	footer .fb-like{
		float: right;
		margin-left: 0;
		margin-right: 0px;
	}
}

@media all and (max-width: 550px){
	.blade h1{
		font-size: 2.5em;
	}
	
}

@media all and (max-width: 480px){
	.blade h1{
		font-size: 2em;
		margin-top: 44px;
	}
}

@media all and (max-width: 420px){
	.blade h1{
		font-size: 1.35em;
		margin-top: 44px;
	}
}












/* UTILITIES */
.shadow{
	-moz-box-shadow:    0px 0px 20px -5px #333;
	-webkit-box-shadow: 0px 0px 20px -5px #333;
	box-shadow:         0px 0px 20px -5px #333;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
