<section class="width-100 about">
	<div class="row max-width">
		<div class="col-1-3 mobile-full-width">
			<img class="mobile-full-width" src="img/zach.jpg" alt="Me!">
		</div>
		<div class="col-2-3 about-text mobile-full-width">
			<p>Raised in the heart of it all, I am a Columbus, Ohio native, now living in Austin, Texas.</p>
			<p>I am a strong communicator and constant collaborator. I design with empathy and want to create products that really make a difference.</p>
			<p>Thanks for stopping by.</p>
			<p><em>— Zach</em></p>
		</div>
	</div>
</section>
<section class="width-100 lately">
	<div class="row max-width">
		<div class="col-1-3 mobile-full-width tweeting">
			<h3>TWEETING</h3>
			<a href="https://twitter.com/zkuzmic" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @twitterapi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<p id="tweet"></p>
		</div>
		<div class="col-1-3 mobile-full-width reading">
			<h3>READING</h3>
			<a href="https://www.amazon.com/The-4-Hour-Workweek-Anywhere-Expanded/dp/0307465357/ref=as_sl_pc_ss_til?tag=fouonama07-20&linkCode=w01&linkId=FGMSLHSIC636XCBD&creativeASIN=0307465357" target="_blank"><img class="reading-book" src="/img/about/reading/4hww.jpg" alt="The 4-Hour Workweek by Timothy Ferris"></a>
			<dd class="book-title"><a href="https://www.amazon.com/The-4-Hour-Workweek-Anywhere-Expanded/dp/0307465357/ref=as_sl_pc_ss_til?tag=fouonama07-20&linkCode=w01&linkId=FGMSLHSIC636XCBD&creativeASIN=0307465357" target="_blank">The 4-Hour Workweek</a></dd>
			<dd class="book-author">by Timothy Ferris</dd>
		</div>
		<div class="col-1-3 mobile-full-width listening">
			<h3>LISTENING</h3>
			<div id="lastfm">
				<dl>
					<dt class="lfm_art">
						<a href="#"></a>
					</dt>
					<div class="text-wrapper">
						<dd class="lfm_artist"><img class="listening-icon" src="/img/about/listening/artist.png" alt="srtist"></dd>
						<dd class="lfm_song"><img class="listening-icon" src="/img/about/listening/song.png" alt="song"></dd>
						<dd class="lfm_album"><img class="listening-icon" src="/img/about/listening/album.png" alt="album"></dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</section>
<section class="width-100 testimonials">
	<div class="row max-width">
		<figure class="testimonial">
			<blockquote>Working with Zach was a great experience. From the requirements and purpose of our project, he created the wireframes that we'd originally requested, but with increased detail and suggestions of ways to optimize the application. He was easy to communicate with and kept to the timeline we were working on, I would certainly work with him again.
			</blockquote>
			<figcaption><span>- Josie Lewis</span>, Safetime</figcaption>
		</figure>
	</div>
</section>
<section class="width-100 contact">
	<div class="row max-width">
		<div class="col-1-1 mobile-full-width">
			<h4>Want to work together? Email me!</h4>
			<h5><a class="email" href="mailto:zachkuzmic@gmail.com?subject=Hi, Zach!">zachkuzmic@gmail.com</a></h5>
		</div>
	</div>
	<div class="row max-width">
		<div class="col-1-1 mobile-full-width">
			<h4>Find me elsewhere on the internets:</h4>
			<div class="social-icons">
				<a class="social-icon" href="https://twitter.com/zkuzmic"><img src="img/about/twitter_blue.png" alt="twitter"></a>
				<a class="social-icon" href="http://instagram.com/zkuzmic"><img src="img/about/instagram.png" alt="instagram"></a>
				<a class="social-icon" href="http://dribbble.com/zkuzmic"><img src="img/about/dribble.png" alt="dribbble"></a>
				<a class="social-icon" href="http://www.linkedin.com/pub/zach-kuzmic/3a/a42/b87/"><img src="img/about/linkedin.png" alt="LinkedIn"></a>
			</div>
		</div>
	</div>
</section>