<section class="width-100 google-blue-section work-header-section">
	<div class="max-width row">
		<h2>Google Interaction Design Exercise</h2>
	</div>
</section>
<section class="work-item-page-content width-100">
	<div class="row text-content">
		<div class="col-1-1">
			<h3>Prompt</h3>
			<p>For this design exercise, I chose prompt #3 Garage Sale Helper and am taking the lo-fi product overview approach. I chose this approach because it seemed like building any sort of high-fidelity mockup would be putting the cart before the horse. There were so many other high-level things to think about in this application that it didn’t seem right to jump straight into designing a specific screen, especially in detail.
			</p>
			
			<h3>Talking to Users</h3>
			<p>The very first thing I did was find a couple of potential users to talk to and learn from. This felt like the right place to start because I really didn’t know much about the problem and users' specific pain points.</p>
			<p>I started by finding a garage sale (via Craigslist) this past Sunday and talking to the host, David, about his experience setting up the sale and running it for the previous few days. Here are some of the takeaways from that conversation:</p>
			<ul>
				<li>He definitely would not want to inventory every single item (would be <em>extremely</em> tedious).</li>
				<li>Pricing items is difficult. He was afraid of pricing items too low and not getting what they're actually worth. For example, he claimed that the King James Bible audio cassette tape set he was selling was going for $50 online, but he never would have guessed without specifically checking.</li>
				<li>The biggest help would be to actually get people in the door. A lot of people drive by thinking there isn't much there, but they might not be seeing everything.</li>
				<li>He only posted his sale on Craigslist, but some of his customers claimed they found him through other apps/sites.</li>
			</ul>
			<p>It was interesting and eye opening to talk to David about his garage sale hosting experience. I definitely didn’t expect some of the pain points he expressed, and was happy to hear some of his ideas on how the experience could be improved.</p>
			<figure>
				<a href="/google/david-g-sale.jpg"><img src="/google/david-g-sale.jpg" alt="A photo of David's garage sale. There were more items out back on the deck."></a>
				<figcaption>A photo of David's garage sale. There were more items out back on the deck.</figcaption>
			</figure>
			<p>The next step was to get a buyer’s perspective. My Uncle Marty is a garage sale extraordinaire and ended up having some great insight on the garage sale shopping experience (I feel like this could be called “garage sailing”). Here are some takeaways from that conversation:
			</p>
			<ul>
				<li>There is a big difference between garage sales, moving sales, and estate sales.</li>
				<li>His main resource for finding sales is online – primarily Craigslist, but there are other services as well.</li>
				<li>Garage sales may tend to happen on different days of the week depending on where you live. In Chardon (near Cleveland), Marty says that Thursday, Friday, and Saturday are the most popular garage sale days.</li>
				<li>Sometimes, Marty shows up at sales listed on Craigslist to find that they don’t exist or aren’t happening for whatever reason. He has learned to trust Craigslist ads less than newspaper ads because people pay for newspaper ads and are that much more committed to actually having the sale.</li>
				<li>The night before he goes out to garage sales, he looks up ads and plans a route to hit a handful of them in a single day</li>
				<li>Some hosts allow “early birds” while others are very strict about the hours they are open.</li>
				<li>Sale listings usually include high-level categories (e.g. “antiques”) that might hint at some of the items at the sale, but rarely are the ads much more specific</li>
				<li>He’s often skeptical of ad descriptions. The best sales are often the ones with the least written about them.</li>
				<li>If a host has much left over after a sale, “buyout people" might offer to buy the remainder of the items for pennies on the dollar.</li>
			</ul>
			<p>Marty's input taught me a lot about the process of finding the best garage/moving/estate sales, and was helpful as I referenced it throughout the project.</p>

			<h3>Mind Map of Buyer and Seller experiences</h3>
			<p>My next step was to synthesize these conversations into something visual that could help me identify pain points and think about the buying and selling experiences as a whole. What came out was sort of a mind map that outlined each of these processes at a high level. They aren’t pretty, but they were useful in getting some of my first thoughts down on paper.
			</p>
			<figure>
				<a href="/google/mind-map.jpg"><img src="/google/mind-map.jpg" alt="Seller flow on the left, buyer on the right"></a>
				<figcaption>Seller flow on the left, buyer on the right</figcaption>
			</figure>

			<h3>Platform and Features</h3>
			<p>At this point, I felt like I was ready to decide on a platform for this product. Given the suggestions and use cases discussed with my potential users, I ultimately landed on a native mobile app. Some of the reasons included having the ability to access the built-in camera for sellers creating listings, route planning/navigation for buyers out shopping, and push notifications for various potential features.
			</p>
			<p>As I started thinking through design solutions for this mobile app, a lot of features were coming to mind – way too many features for a version one. If this were a real project, it would be important to define an MVP at this point and be specific about what we wanted it to prove. Here are some of the features I immediately identified as extraneous for a first version:
			</p>
			<ul>
				<li>Alerts (push notification/email/SMS) based on saved search criteria</li>
				<li>Ratings (buyers get a push notification when they leave a sale, asking them to rate it)</li>
				<li>Pricing helper (helps determine pricing by comparing to other items in the area, eBay or other places online)</li>
			</ul>	

			<h3>User Flow</h3>
			<p>With a platform in mind, I took the notes and scribbles I had made up to this point and molded into something that more closely resembled a mobile app user flow. This is still pretty high-level and doesn’t include a lot of the app’s functionality, but it was useful in helping me move forward with actual UI.
			</p>
			<figure>
				<a href="/google/g-sale-user-flow.png"><img src="/google/g-sale-user-flow.png" alt="This high-level user flow didn't include every possible detail, but it helped me determine the general structure of the app."></a>
				<figcaption>This high-level user flow didn't include every possible detail, but it helped me determine the general structure of the app.</figcaption>
			</figure>

			<h3>Wireframes</h3>
			<p>Once there was a navigation concept established, I felt comfortable moving forward with some sketches of the actual UI. One challenge was designing a single interface for two totally separate audiences: buyers and sellers. I looked to a few mobile apps like Airbnb and eBay for some inspiration around the idea of serving separate audiences on either end of a transaction.
			</p>
			<figure>
				<a href="/google/sketches.jpg"><img src="/google/sketches.jpg" alt="A few early sketches"></a>
				<figcaption>A few early sketches</figcaption>
			</figure>
			<p>Once I worked through some ideas on paper, I created higher fidelity wireframes for a couple of screens.</p>
			<figure>
				<a href="/google/find_sales.png"><img src="/google/find_sales.png" alt='This is the "Find Sales" screen and will be displayed when the app is initially opened.'></a>
				<figcaption>This is the "Find Sales" screen and will be displayed when the app is initially opened.</figcaption>
			</figure>
			<figure>
				<a href="/google/menu_open.png"><img src="/google/menu_open.png" alt='With the menu open, I tried to create a relationship between "Post New Sale" and "My Sales" (for sellers) by separating them from "Find Sales" (for buyers).'></a>
				<figcaption>With the menu open, I tried to create a relationship between "Post New Sale" and "My Sales" (for sellers) by separating them from "Find Sales" (for buyers).</figcaption>
			</figure>
			<h3>Conclusion</h3>
			<p>After all was said and done, I spent about 7 hours total on this design exercise between user interviews, user flows, wireframes, and writing this description of my recommendations. Please feel free to reach out if you have questions about any of the above or my application.
			</p>
			<p>Best,<br>
			Zach Kuzmic
			</p>

			<p>zachkuzmic@gmail.com<br>
			(614)302-5254
			</p>

			<a href="/#work" class="back-to-work">< Back to my work</a>
			
		</div>
	</div>
</section>