<footer class="site-footer dark-section">

  <div class="wrapper">

    <a href="https://twitter.com/zkuzmic"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/zkuzmic/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/zachkuzmic"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://soundcloud.com/zkuzmic"><i class="fa fa-soundcloud"></i></a>

    <p>&copy; Zach Kuzmic 2016</p>

  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ "/js/responsive-nav.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/engage.lastfm.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/twitter-fetcher.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/zoom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
