/**
 * Site header
 */

.site-header {
    //min-height: 56px;
    overflow: hidden;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.logo {
    float: left;
    font-family: $base-font-family;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 16px;
    width: 120px;

    @media (max-width: 750px){
        float: left;
        margin-top: 0;

        a{
            display: block;
            width: 100%;
            overflow: hidden;
        }
    }

    h1:hover{
        color: #57A3E8;
    }

    a{
        text-decoration: none;
        color: #bababa;
        text-rendering: optimizeLegibility;

        h1{
            line-height: 1;
            transition: color ease 0.3s;
            margin: 0;

            span.ZK{
                display:block;
                width: 100%;
                text-align: center;
                font-weight: 900;
                font-size: 80px;
                margin: 4px 0 4px -2px;
                letter-spacing: 0px;
                text-indent: 0;
            }
            span.name{
                display:block;
                width: 100%;
                font-weight: 300;
                font-size: 18px;
                text-align: center;
                margin-top: -0.6rem;
                text-indent: 0;
            }
            span.title{
                display:block;
                width: 100%;
                font-weight: 300;
                font-size: 15px;
                text-align: center;
                margin-top: 0rem;
                text-indent: 0;
            }
        }
    }
}

nav.main-nav{
    float: right;
    margin-top: 52px;
    line-height: 1;
    overflow: visible;

    a{
        text-decoration: none;
        color: #bababa;
        display: inline-block;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        transition: color ease 0.3s;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: initial;
        margin-left: 55px;
        padding-bottom: 5px;

        &:hover{
            color: #57A3E8;
        }

        &.active{
            border-bottom: 4px solid #57A3E8;
        }
    }

    @media (max-width: 750px){
        overflow: hidden;
        float: right;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #ddd;

        a{
            font-size: 1em;
            display: block;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #ddd;

            &.active{
                border-bottom: 1px solid #ddd;
                border-left: 8px solid #57A3E8;
                padding-left: 22px;
            }
        }

        a:nth-child(3){
            border-bottom: none;
        }
    }
}

.nav-toggle{
    display: none;
    position: static;
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 0;
    img{
        width: 100%;
    }

    @media (max-width: 750px){
        display: block;
    }
}

/*! responsive-nav.js 1.0.39 by @viljamis */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 751px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}







/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align: center;
}

.dark-section{
    background: #333;
    color: #fff;
}

.site-footer .fa{
    color: #fff;
    font-size: 45px;
    margin: 0 8px;
    transition: all 100ms ease-out;

    &.fa-twitter:hover{
        color: #00aced;
    }

    &.fa-instagram:hover{
        color: #9b6954;
    }

    &.fa-linkedin-square:hover{
        color: #007bb6;
    }

    &.fa-soundcloud:hover{
        color: #ff3a00;
    }
}

.site-footer p{
    color: #777;
    margin-top: 20px;
    margin-bottom: 0;
}



/**
 * Page content
 */
.page-content {
    //padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    //margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    hr {
        margin-bottom: 32px;
    }
}
