/*SITE-WIDE CSS*/
html{
	font-size: 10px;
}

body{
	font-family: 'Merriweather', serif;
	font-size: 2.0rem;
}

.max-width{
	max-width: 1150px;
	padding: 0 25px;
	margin: 0 auto;
}

.width-100{
	width: 100%;
}

.dark-text{
	color: #333334;
}

.light-blue-section{
	background: #38a2d3;
	color: #fff;
}

.qi-section{
	background: #0195a5;
	color: #fff;
}

.green-section{
	background: #2cac21;
	color: #fff;
}

.orange-section{
	background: #d1922b;
	color: #fff;
}

.red-section{
	background: #A04050;
	color: #fff;
}

.blue-green-section{
	background: #89A194;
	color: #fff;
}


.dark-section{
	background: #333;
	color: #fff;
}

a{
	transition: color ease 0.3s;
	color: #333334;
	&:hover{
		color: #57A3E8;
	}
}


/*
	GRID
*/

[class*='col-'] {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}

.col-1-1 {
  width: 100%;
}

.mobile-full-width{
	@media (max-width: 750px){
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.mobile-display-none{
	@media (max-width: 750px){
		display: none;
	}
}


header.site-header{
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	@media (max-width: 750px){
		padding: 0;
		margin-top: 0;
	}
	
	.logo {
		text-align: center;
		width: 12rem;
		float: left;
		@media (max-width: 750px){
			float: left;
			margin-left: 15px;
			margin-top: 10px;
			a{
				display: block;
				width: 12rem;
				overflow: hidden;
			}
		}
		
		a{
			text-decoration: none;
			color: #bababa;
			text-rendering: optimizeLegibility;
			
			h1{
				line-height: 1;
				transition: color ease 0.3s;
				margin: 0;
				span.ZK{
					display:block;
					width: 100%;
					text-align: center;
					font-weight: 900;
					font-size: 8rem;
					margin: 0 0 0 -2px;
					letter-spacing: 0px;
					text-indent: 0;			
				}
				span.name{
					display:block;
					width: 100%;
					font-weight: 300;
					font-size: 1.8rem;
					text-align: center;
					margin-top: -0.6rem;
					text-indent: 0;
				}
				span.title{
					display:block;
					width: 100%;
					font-weight: 300;
					font-size: 1.5rem;
					text-align: center;
					margin-top: 0rem;
					text-indent: 0;
				}
			}	
		}
				
	}
	nav.main-nav{
		float: right;
		margin-top: 1.8em;
		line-height: 1;
		overflow: visible;
		
		a{
			text-decoration: none;
			color: #bababa;
			font-size: 1.2em;
			letter-spacing: 1px;
			font-weight: 700;
			line-height: 1;
			transition: color ease 0.3s;
			transition-property: color;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			transition-delay: initial;
			margin-left: 55px;
			padding-bottom: 5px;
			
			&:hover{
				color: #57A3E8;
			}
			
		}
		
		a:nth-child(3){
			border-bottom: 4px solid #57A3E8;
		}
		
		&.current-page-1{
			a:nth-child(1){
				border-bottom: 4px solid #57A3E8;
			}
			a:nth-child(3){
				border-bottom: none;
			}
		}
		
		&.current-page-2{
			a:nth-child(2){
				border-bottom: 4px solid #57A3E8;
			}
			a:nth-child(3){
				border-bottom: none;
			}
		}
		
		@media (max-width: 750px){
			overflow: hidden;
			float: right;
			margin: 0;
			width: 100%;
			border-bottom: 1px solid #ddd;
			
			a{	
				font-size: 1em;
				display: block;
				margin: 0;
				padding: 10px 30px;
				border-bottom: 1px solid #ddd;
			}

			a:nth-child(3){
				border-left: 8px solid #57A3E8;
				border-bottom: 1px solid #ddd;
				padding-left: 22px;
			}
			
			&.current-page-1{
				a:nth-child(1){
					border-left: 8px solid #57A3E8;
					padding-left: 22px;
					border-bottom: none;
				}
				a:nth-child(2){
					border-top: 1px solid #ddd;
				}
				a:nth-child(3){
					border-left: none;
					padding-left: 30px;
				}
			}
			
			&.current-page-2{
				a:nth-child(2){
					border-left: 8px solid #57A3E8;
					border-bottom: none;
					padding-left: 22px;
				}
				a:nth-child(3){
					border-left: none;
					border-top: 1px solid #ddd;
					padding-left: 30px;
				}
			}
		}
	}
	.nav-toggle{
		position: static;
		float: right;
		width: 30px;
		height: 30px;
		margin: 10px 15px 0 0;
		img{
			width: 100%;
		}
	}
}



.logo h1:hover{
	color: #57A3E8;
}




/*
	INDEX CSS
*/

.hero h1{
	font-family: 'Raleway', sans-serif;
	font-size: 6.3em;
	font-weight: 900;
	text-align: center;
	border-bottom: #bababa solid 4px;
	padding-bottom: 0.15em;
	margin-top: 180px;
	margin-bottom: 0;
	line-height: 1;
	
	@media (max-width: 1200px){
		font-size: 5em;
	}
	@media (max-width: 900px){
		font-size: 4em;
	}
	@media (max-width: 750px){
		font-size: 1.6em;
		margin-top: 50px;
		border-bottom: #bababa solid 1px;
	}
}

.hero h2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #aaa;
	margin-top: 0.4em;
	margin-bottom: 300px;
	line-height: 1;
	@media (max-width: 1200px){
		font-size: 1.4em;
	}
	@media (max-width: 750px){
		font-size: 1em;
		margin-bottom: 50px;
	}
}

h3.recent-work{
	margin: 0;
	text-align: center;
	background: #777;
	width: 100%;
	padding: 1em 0;
	font-size: 2em;
	letter-spacing: 5px;
	position: relative;
	
	&:after{
		position: absolute;
		content: " ";
		top:100%;
		left: 50%;
		width: 0;
		height: 0;
		border-top: 20px #777 solid;
		border-right:20px solid transparent;
		border-bottom:20px solid transparent;
		border-left:20px solid transparent;
		margin-left: -20px;
	}
}



.light-blue-section div.max-width{
	margin: 0 auto;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;	
}

.light-blue-section p{
	text-align: center;
	font-size: 1.1em;
	line-height: 1.4;
	margin: 1em;
	span{
		color: #555;
	}
	@media (max-width: 750px){
		font-size: 1em;
	}
}

.light-blue-section p a{
	color: #ddd;
}

.light-blue-section p a:hover{
	color: #c2f5bf;
}

.social-ball{
	text-decoration: none;
	margin: 0 10px;
}

footer.max-width{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	padding-bottom: 25px;
}


.work-section{
	font-family: 'Raleway', sans-serif;	
	.row{
		[class*='col-']{
			margin-top: 8rem;
			@media (max-width: 750px){
				margin-top: 4rem;	
			}
			
			h2{
				font-size: 3.2em;
				margin: 5rem 0 2rem;
				line-height: 1;
				@media (max-width: 900px){
					margin-top: 0rem;
				}
				@media (max-width: 750px){
					font-size: 2em;	
				}
			}
			p{
				font-size: 1.2em;
				@media (max-width: 750px){
					font-size: 1em;	
				}
			}
			a{
				display: inline-block;
				text-decoration: none;
				background: rgba(0,0,0,0.4);
				color: #fff;
				padding: 10px 20px;
				font-weight: bold;
				font-size: 1.2em;
				margin-top: 0.5em;
				margin-bottom: 2em;
				transition: all 0.1s linear;
				
				&:hover{
					background: rgba(0,0,0,0.2);
				}

				i{
					margin-left: 0.7rem;
				}
			}
		}
		
		img{
			max-width: 90%;
			display: block;
			margin: 0rem auto 8rem auto;
			max-height: 700px;
			@media (max-width: 750px){
				margin-bottom: 0;	
			}
			
			&.phone{
				float: right;
				margin: 0 15% 8rem 0;
				@media (max-width: 750px){
					max-width: 100%;
					margin: 0 auto;
					float: none;
				}
			}
		}	
	}
}

.work-item-page{
	h2{
		font-family: 'Raleway', sans-serif;
		font-size: 5em;
		text-align: center;
		margin: 0;
		padding: 3rem 0;
		@media (max-width: 900px){
			font-size:4em;
		}
		@media (max-width: 750px){
			font-size:1.5em;
		}
	}
	
	.work-header-section{
		margin-bottom: 3rem;
		
		img{
			max-width: 90%;
			display: block;
			margin: 0rem auto 8rem auto;
			max-height: 700px;
		}
		.col-1-3{
			padding: 0;
		}
	}
	
	.work-item-page-content{
		margin-bottom: 5em;
		
		.text-content{
			font-family: 'Merriweather', serif;
			max-width: 700px;
			margin: 0 auto;
			color: #333334;
			line-height: 1.6;
			padding-left: 15px;
			padding-right: 15px; 
			
			.project-link{
				background: #38a2d3;
				color: #fff;
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				text-decoration: none;
				font-size: 3rem;
				padding: 10px 25px;
				margin-top: 0em;
				display: inline-block;
				transition: 0.1s linear all;
				@media (max-width: 750px){
					font-size:0.8em;
				}
				
				&:hover{
					opacity: 0.8;
				}
			}
			
			h3{
				font-family: 'Raleway', sans-serif;
				padding: 0;
				font-size: 2.5em;
				text-align: left;
				margin-bottom: 0.7em;
				margin-top: 1.3em;
				line-height: 1;
				@media (max-width: 750px){
					font-size:1.5em;
				}
			}
			
			p{
				@media (max-width: 750px){
					font-size:0.8em;
				}
				a{
					color: #333334;
					transition: 0.3s linear all;
					&:hover{
						color: #57A3E8;
					}
				}
			
			}
			
			figure{
				max-width: 100%;
				border: 1px #ddd solid; 
				margin: 2em 0;
				
				a{
					text-decoration: none;
				}
				
				figcaption{
					background: #ddd;
					padding: 10px 10px;
					font-size: 1.5rem;
					font-style: italic;	
				}
			}
			
			img{
				max-width: 100%;
				margin-bottom: 0;
				display: block;
			}
			
			.back-to-work{
				float: left;
				display: block;
				width: 100%;
				font-family: 'Raleway', sans-serif;
				text-decoration: none;
				font-weight: bold;
				color: #bababa;
				transition: 0.3 color linear;
				transition: color ease 0.3s;
				margin-top: 4em;
				
				&:hover{
					color: #57A3E8;
				}
			}
		}
	}
}

/*
	ABOUT PAGE
*/



.about{
	font-family: 'Raleway', sans-serif;
	background: #e3e3e3;
	padding: 6rem 0 3rem;
	
	img{
		max-width: 90%;
		display: block;
		@media (max-width: 750px){
			width: 70%;
			max-width: 370px;
			margin: 0 auto;
			padding: 0;
		}
	}
	
	.about-text{
		font-size: 1.8rem;
		@media (max-width: 750px){
			float: right;
			font-size: 1.6rem;
			margin-top: 2rem;
		}
		p:nth-child(1){
			margin-top: 0;
		}
	}
}

.lately{
	font-family: 'Raleway', sans-serif;
	background: #fff;
	padding-bottom: 3rem;
	padding-top: 5rem;
	color: #333334;
	line-height: 1.3;
	h3{
		color: #bababa;
		font-size: 2rem;
	}
	
	#lastfm dl:last-child, #lastfm dl:nth-child(2) {
		visibility: hidden;
		position: absolute;
	}
	
	.listening{
		@media (max-width: 750px){
			margin-top: 1.6em;
		}
		#lastfm{
			.listening-icon{
				width: 16px;
				margin-right: 6px;
				display: inline-block;
				margin-bottom: -1px;
			}
			.eq{
				margin-left: 4px;
			}
			.lfm_art{
				float: left;
				border: 1px solid #ddd;
				width: 35%;
				img{
					width: 100%;
					display: block;
				}
			}
			.text-wrapper{
				margin: 0 5% 0 3%;
					float: left;
					width: 57%;
				.lfm_song, .lfm_artist, .lfm_album{
					font-size: 1.5rem;
					margin: 0 0 4px;
				}
				.lfm_artist{
					font-weight: bold;
					margin-top: 6%;
					@media (max-width: 900px){
						margin-top: 0;
					}
					@media (max-width: 750px){
						margin-top: 3%;
					}
				}
				.lfm_album{
					margin-top: 1em;
					@media (max-width: 900px){
						margin-top: 0;
					}
				}
			}
		}
	}
	
	.reading{
		
		.reading-book{
			width: 32%;
			float: left;
			border: 1px solid #ddd;
		}
		.book-title, .book-author{
			font-size: 1.5rem;
			margin: 0 5% 0 3%;
			float: left;
			width: 57%;
		}
		.book-title{
			font-weight: bold;
			margin-bottom: 1em;
			margin-top: 6%;	
		}
	}
	
	.tweeting{
		@media (max-width: 750px){
			margin-bottom: 0.4em;
		}
		#tweet{
			margin-top: 1em;
			padding-right: 10%;
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				li{
					font-size: 1.5rem;
					.tweet{
						margin: 0;
						a{
							color: #333334;
							&:hover{
								color: #57A3E8;
							}
						}
					}
					.timePosted{
						font-size: 1.3rem;
						font-style: italic;
						color: #bbb;
					}
				}
			}
		}
	}
}

.contact{
	background: #fff;
	font-family: 'Raleway', sans-serif;
	padding-top: 6rem;
	
	h4{
		font-weight: 300;
		text-align: center;
		font-size: 2.3rem;
		margin-bottom: 0;
		@media (max-width: 750px){
			font-size: 1.6rem;
		}
	}
	h5{
		text-align: center;
		margin-top: 0.4rem;
		a.email{
			font-size: 5rem;
			font-weight: 800;
			color: #333334;
			text-decoration: none;
			&:hover{
				color: #57A3E8;
			}
			@media (max-width: 750px){
				font-size: 2.1rem;
			}
		}
	}
	.social-icons{
		text-align: center;
		margin-top: 1em;
		margin-bottom: 3em;
		.social-icon{
			width: 64px;
			margin: 0 10px;
			height: auto;
			display: inline-block;
			img{
				width: 100%;
			}
			@media (max-width: 750px){
				margin: 0 5px;
				width: 50px;
			}
		}
	}
}

.testimonials{
	background: #e3e3e3;
	padding-top: 3em;
	padding-bottom: 3em;
	.testimonial{
		max-width: 700px;
		margin: 0 auto;
		blockquote{
			margin: 0;
			font-family: "Merriweather", serif;
			font-style: italic;
			color: #777;
			margin-bottom: 1.6em;
			line-height: 1.6;
			position: relative;
			border-left:none;
			padding-left: 0;
			
			@media (max-width: 750px){
				font-size: 0.8em;
			}
			&:before{
				content: '"';
				position: absolute;
				top:-3px;
				left: -1em;
				font-size: 1em;
				color: #bbb;
			}
			&:after{
				content: '"';
				color: #bbb;
				bottom:3px;
				right: -1em;
				font-size: 1em;
			}
		}		
		figcaption{
			font-size: 1em;
			color: #333;
			@media (max-width: 750px){
				font-size: 0.8em;
			}
			span{
				font-weight: bold;
			}
		}
	}
}




/*
	MAIN BLOG POSTS PAGE
*/




/*
	POST PAGE
*/
.post-footer {
    position: relative;
    margin: 4rem 0 8rem 0;
    padding: 2rem 0 4rem 0;

	.wrapper{
		overflow: hidden;
		width: 100%;
		margin: 0 auto 4em auto;
		text-align: center;
		border-bottom: #EBF2F6 1px solid;
		border-top: #EBF2F6 1px solid;
		padding: 1.5em 20px 1em 20px;
		
		@media (max-width: 500px){
			width: 300px;
			text-align: center;

			img.profile-img{
				float: none;
			}

			div.byline{
				width: 100%;
				margin: 0;
				text-align: center;
			}
		}

		.profile-img{
			width: 125px;
		}

		.byline{
			text-align: center;
			width: 100%;
			margin-top: 0.2em;

			h3{
				font-size: 0.9em;
				margin-bottom: 0.3em;
				color: #999;

				span{
					color: #333334;
				}
			}

			h4{
				font-size: 0.7em;
				font-weight: normal;
				color: #999;
				margin-bottom: 1em;
			}
		}
	}
}


/*
	404 PAGE
*/
.error404{
	text-align: center;
	padding-bottom: 3em;
}

