.about{
	font-family: 'Raleway', sans-serif;
	background: #e3e3e3;
	padding: 60px 0 30px;

	img{
		max-width: 90%;
		display: block;
		@media (max-width: 750px){
			width: 70%;
			max-width: 370px;
			margin: 0 auto;
			padding: 0;
		}
	}

	.about-text{
		font-size: 18px;
		@media (max-width: 750px){
			float: right;
			font-size: 16px;
			margin-top: 20px;
		}
		p:nth-child(1){
			margin-top: 0;
		}
	}
}

.lately{
	font-family: 'Raleway', sans-serif;
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #333334;
	line-height: 1.3;

	h3{
		border-bottom: 1px solid #ddd;
		color: #bababa;
		font-size: 20px;
	}

	#lastfm dl:last-child, #lastfm dl:nth-child(2) {
		visibility: hidden;
		position: absolute;
	}

	.listening{
		@media (max-width: 750px){
			margin-top: 16px;
		}
		#lastfm{
			.listening-icon{
				width: 16px;
				margin-right: 6px;
				display: inline-block;
				margin-bottom: -1px;
			}
			.eq{
				margin-left: 4px;
			}
			.lfm_art{
				float: left;
				border: 1px solid #ddd;
				width: 35%;
				img{
					width: 100%;
					display: block;
				}
			}
			.text-wrapper{
				margin: 0 5% 0 1%;
				float: left;
				width: 59%;

				.lfm-line-wrapper{
					overflow: hidden;
					width: 100%;
				}
				
				.lfm_song, .lfm_artist, .lfm_album{
					font-size: 14px;
					margin: 0 0 6px;
					padding-left: 22px;
				}

				.lfm_artist{
					font-weight: bold;
					@media (max-width: 900px){
						margin-top: 0;
					}
					@media (max-width: 750px){
						margin-top: 3%;
					}
				}

				img.album {
					float: left;
					width: 18px;
					margin-left: 1px;
					margin-right: 1px;
					opacity: 0.7;
				}

				.lfm_album{
					
					@media (max-width: 900px){
						margin-top: 0;
					}

					
				}

				.fa {
					opacity: 0.7;
					float: left;
					width: 20px;
					text-align: center;
				}
			}
		}
	}

	.reading{

		.reading-book{
			width: 32%;
			float: left;
			border: 1px solid #ddd;
		}

		.book-title, .book-author{
			margin: 0 5% 0 3%;
			float: left;
			width: 57%;
		}

		.book-title{
			font-size: 15px;
		}

		.book-author{
			font-size: 13px;
		}
		
		.book-title{
			font-weight: bold;
			margin-top: 6%;
		}

	}

	.tweeting{
		
		@media (max-width: 750px){
			margin-bottom: 4px;
		}
		
		#tweet{
			margin-top: 10px;
			padding-right: 10%;

			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;

				li{
					font-size: 15px;

					.tweet{
						margin: 0;
						margin-bottom: 12px;

						a{
							color: #333334;

							&:hover{
								color: #57A3E8;
							}

						}

					}

					.timePosted{
						font-size: 12px;

						a {
							color: #bababa;	
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
						
					}

				}

			}

		}

	}

}

.contact{
	background: #e3e3e3;
	font-family: 'Raleway', sans-serif;
	padding-top: 60px;
	padding-bottom: 60px;

	h4{
		font-weight: 300;
		text-align: center;
		font-size: 23px;
		margin-bottom: 0;
		@media (max-width: 750px){
			font-size: 16px;
		}
	}

	h5{
		text-align: center;
		margin-top: 4px;
		a.email{
			font-size: 50px;
			font-weight: 800;
			color: #333334;
			text-decoration: none;
			&:hover{
				color: #57A3E8;
			}
			@media (max-width: 750px){
				font-size: 21px;
			}
		}
	}
}