.heading {
  margin-bottom: 1rem;
  font-size: 36px;
}

.paragraph {
  font-size: 14px;
}

@media (min-width: 992px) {
  .contentWrapper {
    margin: 0 20px;
  }

  .paragraph {
    font-size: 18px;
  }
}
