.heroWrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .heroWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.modalContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  position: absolute;
  background: #222222;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  border-radius: 25px;
  border: 35px solid #2f2f2f;
  padding: 20px;
  color: #33ff33;
  font-family: 'VT323', monospace;
  font-size: 24px;
  box-shadow: 0px 10px 25px -4px rgba(0,0,0,0.75);
  line-height: 1.3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 600ms;
}

.modalOverlay_afterOpen {
  opacity: 1;
}

.modalOverlay_beforeClose {
  opacity: 0;
}

.work {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
}

.workText {
  margin-left: 150px;
}

.workHeading {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}

.workSubheading {
  font-size: 14px;
  margin-top: 4px;
  opacity: 0.65;
}

.workRight .workText{
  margin-left: 0;
  
}