body {
  font-family: 'Merriweather', serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', sans-serif;
}

.contentWrapper {
  background: #FFFFF6;
  box-shadow: 0px 2px 15px -2px rgb(0, 0, 0, 0.2);
  margin: 3px 3px 8px 3px;
  overflow: hidden;
  max-width: 1100px;
}

.contentWrapperInner {
  margin: 0 auto;
  max-width: 1024;
  padding: 1.5rem;
  padding-top: 0;
}

.footer {
  color: #777;
  text-align: center;
  font-size: 12px;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .contentWrapper {
    margin: 32px 32px 16px;
  }

  .footer {
    margin-bottom: 16px;
  }
}

@media (min-width: 1164px) {
  .contentWrapper {
    margin: 32px auto 16px;
  }
}