	<section class="width-100 green-section work-header-section">
		<div class="max-width row">
			<h2>SafeTime for iOS</h2>
		</div>
		<div class="max-width row">
			<div class="col-1-3 mobile-display-none">
				<img class="phone" src="/img/work/safetime/safetime_phone1.png" alt="SafeTime for iOS">
			</div>
			<div class="col-1-3 mobile-full-width">
				<img class="phone" src="/img/work/safetime/safetime_phone2.png" alt="SafeTime for iOS">
			</div>
			<div class="col-1-3 mobile-display-none">
				<img class="phone" src="/img/work/safetime/safetime_phone3.png" alt="SafeTime for iOS">
			</div>
		</div>
	</section>
	<section class="work-item-page-content width-100">
		<div class="row text-content">
			<div class="col-1-1">
				<a href="/img/work/safetime/SafeTime_wireframe_deck_v02.pdf" class="project-link" target="_blank">Final wireframe spec (PDF)</a>
				<h3>Project Overview</h3>
				<p>SafeTime is in the process of creating a personal keychain alarm that, when activated, will alert friends and family with your location, letting them know you're in trouble. The device connects to your iPhone via bluetooth and can be configured with the app I designed. My final deliverables were a <strong>user flow diagram</strong> and a <strong>complete deck of wireframes</strong>.</p>
				<h3>Info Gathering</h3>
				<p>In their business plan, SafeTime tightly defined their target users as female college students living on or around campus who owned an iPhone (since we were only designing for iOS for now). Having such a specific audience was helpful throughout the entire process of designing this app. With a sister in college, I already knew a lot about the problem we were trying to solve, and had a target user ready and willing to answer questions as we went along.</p>
				<p>After a few rounds of discussion, we were able to distill I final list of requirements for version 1.0. Some of these included details about the user onboarding process, account safety, and verification that the device would indeed work should it be needed.</p>
				<h3>Some early ideas</h3>
				<p>As I began the project, I quickly realized that the first time user setup was going to be the largest and most difficult part of the app. I started with a user flow diagram that laid out the "happy path" as well as a smattering of edge cases:</p>
				<figure>
					<img data-action="zoom" src="/img/work/safetime/safetime_userflow.png">
					<figcaption>A chunk of the first time user flow</figcaption>
				</figure>
				<p>As the user flow took form, it became clear what screens we needed to design. Here are a few early sketches:</p>
				<figure>
					<img data-action="zoom" src="/img/work/safetime/safetime_sketches.jpg" alt="sketches">
					<figcaption>A few early screens</figcaption>
				</figure>
				<p>As I refined the designs, I met regularly with Josie at SafeTime to explain how I was solving problems and to get feedback from her. We  worked well together; we communicated consistently and were always on the same page.</p>
				<h3>Final Design</h3>
				<p>As noted above, a majority of my time went into the first time user flow. In the three screens below, a user sets up their account and is then asked to add at least one emergency contact. I made adding contacts a part of initial setup because without adding emergency contacts, pressing your keychain alarm does nothing (there's no one to contact). I designed this flow to not only help guide the user through that process, but also to make sure their device would work if they found themselves in a tight spot.</p>
				<figure>
					<img data-action="zoom" src="/img/work/safetime/safetime_wireframes.png" alt="wireframes">
					<figcaption>Three screens from the first time user flow</figcaption>
				</figure>
				<p>Another screen from the final design is the Dashboard. This is the first screen shown to returning users when opening the app. Here, a user can see the current system status and be reassured that everything is connected and working properly (increasing their feeling of safety — that's what the app is for right?).</p>
				<figure>
					<img data-action="zoom" src="/img/work/safetime/safetime_dashboard.png" alt="dashboard">
					<figcaption>A screenshot of the (heavily annotated) Dashboard page from the wireframe deck — the full PDF is available below</figcaption>
				</figure>
				<a href="/img/work/safetime/SafeTime_wireframe_deck_v02.pdf" class="project-link" target="_blank">Final wireframe spec (PDF)</a>
				<a href="/#work" class="back-to-work">< Back to my work</a>
				
			</div>
		</div>
	</section>