<section class="width-100 orange-section work-header-section">
	<div class="max-width row">
		<h2>Ohio University School of Visual Communication</h2>
	</div>
	<div class="max-width row">
		<div class="col-1-1">
			<img class="browser" src="/img/work/viscom/viscom-browser.png" alt="Ohio University School of Visual Communication">
		</div>
	</div>
</section>
<section class="work-item-page-content width-100">
	<div class="row text-content">
		<div class="col-1-1">
			<a href="http://viscomou.com/" class="project-link" target="_blank">Launch the site ></a>
			<h3>Project Overview</h3>
			<p>The old Ohio University School of Visual Communication (VisCom for short) website needed to be replaced. That much was clear. Its design was beginning to show its age, and the content had slowly become fragmented and unorganized as things were added, edited, and moved over time. VisCom needed a fresh start.</p>
			<p>I teamed up with professor Julie Elman to review the old site and determine what the OU School of Visual Communication was looking for in a new one.</p>
			
			<h3>Why are we building this?</h3>
			<p>This was actually a tougher question to answer than one might think. The school knew they needed a new site, but it wasn't totally clear why (other than the old one looked dated and was difficult to use). Were we building this for current students? Prospective students? Prospective students' parents? Professors? Industry professionals? All of the above were discussed in early planning stages of the site. </p>
			<p>One of the main goals of the program (and the site) was to drive admission. So, we immediately knew that prospective students (and possibly their parents) would be at the top of the list of target users.</p>
			<p>Early on, we also made an assumption that current students would be heavy users of the site as well, but as we spoke with them about what they needed in a new site, we realized that this wasn't the case. It became clear that current students were mainly looking for information such as course documentation and professor contact info. Heavier features like the events calendar on the old site weren't necessary in the new one. It wasn't clear that students needed it, and we knew it would be a difficult thing to continuously maintain (and an easily-maintainable website was a secondary goal of ours).</p>
			
			<h3>Content!</h3>
			<p>A big part of this design overhaul was the information architecture. The old site had tons of content, and as I mentioned above, it was fragmented and unorganized. We had plenty of new content we wanted to include as well. Sifting through and categorizing it all in a way that would make sense to our target audience was a task.</p>
			<figure>
				<img data-action="zoom" src="/img/work/viscom/viscom_site_map.jpg" alt="The result of one of our many content organization sessions">
				<figcaption>The result of one of our many content organization sessions</figcaption>
			</figure>
			
			<h3>The Design</h3>
			<p>Once we had some of the bigger picture questions answered, we worked together to refine the page layouts and Julie did the (awesome) visual design (if you haven't seen it already, check out her <a href="http://thefearproject.com">Fear Project</a> — amazing illustrations about people and their fears).</p>
			<figure>
				<img data-action="zoom" src="/img/work/viscom/viscom_home_v2.jpg" alt="An early mockup of the homepage...">
				<figcaption>An early mockup of the homepage...</figcaption>
			</figure>
			<figure>
				<img data-action="zoom" src="/img/work/viscom/viscom_desktop_home.jpg" alt="...and the final design">
				<figcaption>...and the final, implemented design</figcaption>
			</figure>
			
			<h3>The future of the VisCom site</h3>
			<p>As we built this first version of the new VisCom site, we knew that it was going to be expanded on in future iterations. We did our best to include only the most important features/information, and trim out as many potentially unnecessary ones as possible (to be added later if deemed appropriate). As the site matures, the school will be able to collect feedback on what needs to be added/improved and refine it to serve their audience even better down the road.</p>					
			<a href="http://viscomou.com/" class="project-link" target="_blank">Launch the site ></a>
			<a href="/#work" class="back-to-work">< Back to my work</a>
			
		</div>
	</div>
</section>