@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* CSS Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* end CSS Reset */

.debug{
	display: none;
}




html{
	overflow: hidden;
	width: 1024px;
	margin: 0 auto;
	height: 6700px;
}


body{
	position: relative;
	font-family: "PT Sans", Helvetica, Arial;
	height: 6700px;
	overflow: hidden;
}

#wrapper{
	width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 6700px;
}

a#back-to-top{
	height: 78px;
	width: 90px;
	background: #D7D8DA;
	position: fixed;
	top: 15px;
	right: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 4px solid #333;
	-moz-box-shadow:    0px 0px 15px -2px #333;
	-webkit-box-shadow: 0px 0px 15px -2px #333;
	box-shadow:         0px 0px 15px -2px #333;
	text-align: center;
	opacity: 0.5;
	display: none;
}

#top-logo{
	background: url('./img/top-logo.png') center no-repeat;
	position: absolute;
	height: 980px;
	width: 100%;
}

img#ball-img{
	position: absolute;
	top:50px;
	left: 20px;
}

img#baseball-64{
	position: absolute;
	top:10px;
	left: 17px;
	z-index: 1000;
}

img#football-64{
	position: absolute;
	top:79px;
	left: 17px;
	z-index: 1000;
}

img#basketball-64{
	position: absolute;
	top:152px;
	left: 16px;
	z-index: 1000;
}

p#intro-p{
	width: 450px;
	display: block;
	position: absolute;
	top: 435px;
	left:20px;
	line-height: 1.5;
}

a#lets-go{
	height: 200px;
	width: 210px;
	background: #D7D8DA;
	display: block;
	position: absolute;
	top: 390px;
	right: 40px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 4px solid #333;
	-moz-box-shadow:    0px 0px 15px -2px #333;
	-webkit-box-shadow: 0px 0px 15px -2px #333;
	box-shadow:         0px 0px 15px -2px #333;
	padding-top: 10px;
	text-align: center;
}

.rob-stripe{
	width: 85px;
	background: url('./img/rob-stripe.png') repeat;
	position: absolute;
	left: 470px;
}

#stripe1{
	top:900px;
	height: 5198px;
}

#stripe1:after {
   content: "blah";
}

#node-1940{
	position: absolute;
	left: 412px;
	top: 860px;
}

#counter{
	position: fixed;
	top:0px;
}

.event-right{
	position: absolute;
	right: 5px;
	width: 560px;
	overflow: hidden;
}

.event-left{
	position: absolute;
	left: 5px;
	width: 560px;
	overflow: hidden;
}

.event-right h3, .event-left h3{
	font-size: 2.7em;
	line-height: 1.1;
}

.event-right img{
	float: right;
}

.event-left img{
	float: left;
}

.event-right p, .event-right h3{
	float: right;
	width: 70%;
}

.event-left p, .event-left h3{
	float: left;
	width: 70%;
}

.event-right p, .event-left p{
	font-size: 1.2em;
	line-height: 1.3;
	margin-bottom: 13px;
}

.event-right iframe{
	float: right;
	margin-right: 22px;
}

#indians-1948{
	top: 1000px;
}

#node-1950{
	position: absolute;
	left: 411.7px;
	top: 1150px;
}

#baseball-64-1950{
	position: absolute;
	top:1268px;
	left: 546px;
	width: 40px;
}

#football-64-1950{
	position: absolute;
	top:1268px;
	left: 494px;
	width: 40px;
}

#basketball-64-1950{
	position: absolute;
	top:1268px;
	left: 440px;
	width: 40px;
}

#indians-1954{
	top: 1300px;
}

#node-1960{
	position: absolute;
	left: 411.7px;
	top: 1600px;
}

#baseball-64-1960{
	position: absolute;
	top:1718px;
	left: 546px;
	width: 40px;
}

#football-64-1960{
	position: absolute;
	top:1718px;
	left: 494px;
	width: 40px;
}

#basketball-64-1960{
	position: absolute;
	top:1718px;
	left: 440px;
	width: 40px;
}

#indians-1960{
	top: 1668px;
}

#browns-1963{
	top: 1900px;
}

#browns-1964{
	top: 2030px;
}

#node-1970{
	position: absolute;
	left: 411.7px;
	top: 2210px;
}

#baseball-64-1970{
	position: absolute;
	top:2328px;
	left: 546px;
	width: 40px;
}

#football-64-1970{
	position: absolute;
	top:2328px;
	left: 494px;
	width: 40px;
}

#basketball-64-1970{
	position: absolute;
	top:2328px;
	left: 440px;
	width: 40px;
}

#cavs-1970{
	top:2230px;
}

#cavs-1976{
	top:2320px;
}

#node-1980{
	position: absolute;
	left: 411.7px;
	top: 2710px;
}

#browns-1981{
	top: 2850px;
}

#baseball-64-1980{
	position: absolute;
	top:2828px;
	left: 546px;
	width: 40px;
}

#football-64-1980{
	position: absolute;
	top:2828px;
	left: 494px;
	width: 40px;
}

#basketball-64-1980{
	position: absolute;
	top:2828px;
	left: 440px;
	width: 40px;
}

#cavs-1982{
	top:2860px;
}

#browns-1987{
	top: 3250px;
}

#browns-1988{
	top: 3450px;
}

#cavs-1989{
	top: 3750px;
}

#node-1990{
	position: absolute;
	left: 411.7px;
	top: 4000px;
}

#baseball-64-1990{
	position: absolute;
	top:4118px;
	left: 546px;
	width: 40px;
}

#football-64-1990{
	position: absolute;
	top:4118px;
	left: 494px;
	width: 40px;
}

#basketball-64-1990{
	position: absolute;
	top:4118px;
	left: 440px;
	width: 40px;
}

#indians-1991{
	top:4130px;
}

#browns-1995{
	top: 4440px;
}

#indians-1995{
	top: 4465px;
}

#indians-1997{
	top:4820px;
}

#node-2000{
	position: absolute;
	left: 411.7px;
	top: 5000px;
}

#baseball-64-2000{
	position: absolute;
	top:5118px;
	left: 546px;
	width: 40px;
}

#football-64-2000{
	position: absolute;
	top:5118px;
	left: 494px;
	width: 40px;
}

#basketball-64-2000{
	position: absolute;
	top:5118px;
	left: 440px;
	width: 40px;
}

#browns-2000{
	top: 5100px;
}

#node-2010{
	position: absolute;
	left: 411.7px;
	top: 5350px;
}

#baseball-64-bottom{
	position: absolute;
	top:5468px;
	left: 546px;
	width: 40px;
}

#football-64-bottom{
	position: absolute;
	top:5468px;
	left: 494px;
	width: 40px;
}

#basketball-64-bottom{
	position: absolute;
	top:5468px;
	left: 440px;
	width: 40px;
}

#cavs-2010{
	top: 5450px;
}

#cavs-2010-2{
	top: 5450px;
}

.baseball-64-bottom{
	position: absolute;
	top:5468px;
	left: 546px;
	width: 40px;
}

.football-64-bottom{
	position: absolute;
	top:5468px;
	left: 494px;
	width: 40px;
}

.basketball-64-bottom{
	position: absolute;
	top:5468px;
	left: 440px;
	width: 40px;
}

#fade-to-white{
	position: absolute;
	top:5600px;
	left: 470px;
}

#conclusion{
	width: 800px;
	text-align: center;
	position: absolute;
	top: 6140px;
	left: 115px;
	font-size: 1.4em;
	line-height: 1.5;
}

#share{
	width: 300px;
	text-align: center;
	position: absolute;
	top: 6410px;
	left: 355px;
	font-size: 1.4em;
	line-height: 1.5;
}

#share h4{
	color: #888;
	font-weight: normal;
	font-size: 1.3em;
}

#share iframe{
	margin-top: 15px;
	width: 50%;
}

#share .fb-like{
	width: 50%;
	float: right;
	margin-top: -5px;
}

footer{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 6620px;
}





/*SOURCES PAGE*/
#sources-h1{
	font-size: 2em;
	margin-bottom: 30px;
	margin-top:15px;
}

.sources-h2{
	margin-top: 2em;;
}

#print-ul li{
	margin-top: .4em;
}

#print-ul{
	margin-bottom: 40px;
}



